@media (max-width: 575px) {

    html {
        font-size: 55.5555%;
    }

    h2 {
        font-size: 3.5rem;
    }

    .textBox {
        text-align: center;
    }

    .img-filter {
        filter: brightness(0.3);
    }

    .flex-grow-mod {
        flex-grow: 1;
    }

    /* paddin de 18px para mobile */
    .pm-18 {
        padding-left: 18px;
        padding-right: 18px;
    }

    /* padding 0 a la derecha */
    .pe-mobile-0 {
        padding-right: 0;
    }

    .tarjetaBox {
        flex-direction: column;
        align-items: center;
    }

    .iconBox {
        margin-right: 0;
        margin-bottom: 1.5rem;
    }

    .card {
        margin-bottom: 18px;
    }

    .modal-mod {
        width: 100%;
    }

    iframe {
        width: 100%;
    }

    // HEADER
    header{
        .container{
            div{
                ul{
                    li{
                        .enlace {
                            border-bottom: 2px solid transparent;
                            font-size: 2.03rem;
                        } 
                    } 
                    &:last-child .enlace{
                        border-bottom: none;
                    }
                } 
            } 
        } 
    }

    // BANNER SERVICIOS
    .grid-banner {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(5, 40px);
        gap: 10px;
        .caja1 {
            grid-column: 1/2;
            grid-row: 1/5;
        }
        .caja2 {
            grid-column: 2/3;
            grid-row: 2/6;
        }
        .caja3 {
            grid-column: 3/4;
            grid-row: 1/5;
        }
    }

    // PROYECTOS
    .gridLayoutProyectos {
        width: 100%;
        max-width: 1200px;
        display: grid;
        grid-template-areas:
            "tittle tittle"
            "box1 box1"
            "box2 box3"
            "box7 box7"
            "box4 box5"
            "box6 box6"
            "box8 box8"
            "box10 box10"
            "box9 box9";
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(9, auto);
        .box2,
        .box4,
        .box6,
        .box10 {
            padding: 1.5rem;
            text-align: center;
        }
        .box1,
        .box7,
        .box8{
            position: relative;
            &:before{
                content: url("../assets/img/iconos/maximize.png");
                position: absolute;
                width: 100%;
                height: 100%;
                background-color: $colorTransparente;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
        .imgHorizontal img{
            height: 100%;
            object-fit: fill;
        }
        .imgVertical img{
            width: 100%;
        }
    }
}